In [14]:
import pandas as pd

In [15]:
patients = pd.read_csv('/Volumes/Oussama/project/Data_comp/PATIENTS.csv')
admissions = pd.read_csv('/Volumes/Oussama/project/mimic-iii-clinical-database-1.4/ADMISSIONS.csv')

In [16]:
admissions.drop(['ROW_ID','DEATHTIME','HAS_CHARTEVENTS_DATA', 'ADMISSION_LOCATION','ADMISSION_TYPE', 'DISCHARGE_LOCATION','INSURANCE', 'LANGUAGE','RELIGION','MARITAL_STATUS','ETHNICITY','EDREGTIME','EDOUTTIME',], axis=1, inplace=True)

In [17]:
admissions['ADMITTIME'] = pd.to_datetime(admissions['ADMITTIME'])
admissions['DISCHTIME'] = pd.to_datetime(admissions['DISCHTIME'])
admissions['HOSPITAL_LOS'] = admissions['DISCHTIME'] - admissions['ADMITTIME']
admissions['HOSPITAL_LOS'] = admissions['HOSPITAL_LOS'].apply(lambda x: x.total_seconds() / (24 * 60 * 60))

In [18]:
admissions = admissions[admissions['SUBJECT_ID'].isin(patients['SUBJECT_ID'])]

In [19]:
admissions = admissions.dropna(subset=['DIAGNOSIS']) 
admissions = admissions.drop(['DIAGNOSIS'], axis=1)
admissions.drop_duplicates(inplace=True)

In [20]:
admissions.to_csv('/Volumes/Oussama/project/Data_comp/ADMISSIONS.csv', sep=',', encoding='utf-8', index=False)

In [21]:
admissions

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,HOSPITAL_EXPIRE_FLAG,HOSPITAL_LOS
0,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,0,1.144444
1,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,0,5.496528
2,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,0,6.768056
3,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,0,2.856944
4,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,0,3.534028
...,...,...,...,...,...,...
58971,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,0,2.742361
58972,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,1,0.548611
58973,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,0,8.203472
58974,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,0,41.445833
58975,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,0,1.607639