In [19]:
import pandas as pd

In [20]:
patients = pd.read_csv('/Volumes/Oussama/project/mimic-iii-clinical-database-1.4/PATIENTS.csv')
icu_stays = pd.read_csv('/Volumes/Oussama/project/Data_comp/ICUSTAYS.csv')

In [21]:
patients.drop(['ROW_ID','DOD_HOSP','DOD_SSN','EXPIRE_FLAG'], axis=1, inplace=True)

In [22]:
patients['DOB'] = pd.to_datetime(patients['DOB'])

In [23]:
patients = patients[patients['SUBJECT_ID'].isin(icu_stays['SUBJECT_ID'])]

In [24]:
patients['IS_MALE'] = patients['GENDER'].apply(lambda x: 1 if x == 'M' else 0)
patients.drop(['GENDER'], axis=1, inplace=True)

In [25]:
patients.drop_duplicates(inplace=True)

In [26]:
patients

       SUBJECT_ID        DOB                  DOD  IS_MALE
0             249 2075-03-13                  NaN        0
1             250 2164-12-27  2188-11-22 00:00:00        0
2             251 2090-03-15                  NaN        1
3             252 2078-03-06                  NaN        1
4             253 2089-11-26                  NaN        0
...           ...        ...                  ...      ...
46515       44089 2026-05-25                  NaN        1
46516       44115 2124-07-27                  NaN        0
46517       44123 2049-11-26  2135-01-12 00:00:00        0
46518       44126 2076-07-25                  NaN        0
46519       44128 2098-07-25                  NaN        1

[38604 rows x 4 columns]

In [27]:
patients.to_csv('/Volumes/Oussama/project/Data_comp/PATIENTS.csv', sep=',', encoding='utf-8', index=False)