In [2]:
import pandas as pd

In [3]:
#data importation
items = pd.read_csv('/Volumes/Oussama/project/mimic-iii-clinical-database-1.4/D_ITEMS.csv')

In [4]:
unneeded_param_types = ['Solution', 'Text', 'Process', 'Date time']
items = items[~items['PARAM_TYPE'].isin(unneeded_param_types)]

In [5]:
unneeded_categories = ['Free Form Intake', 'Meds', 'NG Feeding', 'Medications', 'Dialysis', 'Treatments', 
                       'Access Lines - Invasive', 'Drains', 'PICC Line Insertion', 'CVL Insertion', 
                       '1-Intubation/Extubation', 'Intubation', 'Family Mtg Note', 'Skin - Impairment', 'Paracentesis', 
                       'Bronchoscopy', 'Impella', 'PiCCO', 'Thoracentesis', 'Access Lines - Peripheral', 
                       'Arterial Line Insertion', 'PA Line Insertion','Pastoral Care Note', 'Lumbar Puncture', 
                       'Restraint/Support Systems', 'Pain/Sedation', 'Generic Proc Note', 'SPECIMEN', 'ORGANISM', 
                       'OB-GYN', 'OT Notes', 'Cardiovascular', 'Tandem Heart', 'ANTIBACTERIUM', 'Nutrition - Enteral',
                       'ZIntake']
items = items[~items['CATEGORY'].isin(unneeded_categories)]

In [6]:
items.drop(['ROW_ID', 'LINKSTO', 'CONCEPTID', 'CATEGORY', 'PARAM_TYPE'], axis=1, inplace=True)
items.dropna(subset=['LABEL'], inplace=True)

In [7]:
relevant_ids = {}

In [ ]:
l = items[items.apply(lambda r: r.str.contains('urine', case=False).any(), axis=1)].sort_values(by=['ITEMID'])
l = l[['ITEMID','LABEL']]
l

In [ ]:
#relevant_ids['Urine Out Void'] = 40069
#relevant_ids['True Urine'] = 42507
#relevant_ids['Urine Out'] = 43053
#relevant_ids['Urine'] = 43175
#relevant_ids['Urine 2'] = 43462
#relevant_ids['Real Urine Output'] = 43966
#relevant_ids['Urine out 2'] = 44706
#relevant_ids['True Urine 2'] = 44925
#relevant_ids['True Urine 3'] = 45927
#relevant_ids['Urine Volume Out'] = 227489
#relevant_ids['urine osmolarity'] = 1011
#relevant_ids['urine pH'] = 1352
#relevant_ids['urine ph'] = 1495
#relevant_ids['Urine Na+'] = 1917
#relevant_ids['Urine creat'] = 1919
#relevant_ids['URINE CL'] = 2688
#relevant_ids['Urine Glucose'] = 3816
#relevant_ids['Urine Leukocytes'] = 3819
#relevant_ids['Urine Glucose'] = 3816
#relevant_ids['PACU Urine'] = 226631
#relevant_ids['Urine Volume Out'] = 227489
#relevant_ids['Urine Volume Out'] = 43431
#relevant_ids['urine outpt'] = 43380
#relevant_ids['24hr Urine'] = 43576
#relevant_ids['Urine Out'] = 43638
#relevant_ids['inc Urine'] = 44752
#relevant_ids['Urine Volume Out'] = 227059
#relevant_ids['Urine PH'] = 7262
#relevant_ids['ANGIO URINE OUT'] = 42042
#relevant_ids['URINE'] = 43856
#relevant_ids['URINE 1'] = 43522
#relevant_ids['URINE 2'] = 43654
#relevant_ids['URINE 3'] = 43633
#relevant_ids['URINE 4'] = 43537
#relevant_ids['URINE 5'] = 43589
#relevant_ids['URINE 6'] = 43987

#relevant_ids['urine calcium'] = 5810
for i in range(0, 145):
    relevant_ids[l.iloc[i,1]] = l.iloc[i,0]
relevant_ids

In [ ]:
items[items.apply(lambda r: r.str.contains('Heart Rate', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [ ]:
items[items.apply(lambda r: r.str.contains('HR', case=True).any(), axis=1)].sort_values(by=['ITEMID']).tail(60)

In [7]:
relevant_ids['Heart Rate 1'] = 211
relevant_ids['Heart Rate 2'] = 220045
relevant_ids['Heart rate Alarm - High'] = 220046
relevant_ids['Heart Rate Alarm - Low'] = 220047

In [ ]:
items[items.apply(lambda r: r.str.contains('map', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [8]:
relevant_ids['Mean Arterial Pressure 1'] = 224322  
#relevant_ids['Mean Arterial Pressure 2'] = 226766
#relevant_ids['Mean Arterial Pressure 3'] = 227023
#relevant_ids['Mean Arterial Pressure 4'] = 227024
#relevant_ids['High MAP Alarm'] = 1200
#relevant_ids['Low MAP Alarm'] = 1201
relevant_ids['Mean Arterial Pressure 2'] = 53  
relevant_ids['Mean Arterial Pressure 3'] = 2369
#relevant_ids['Mean Arterial Pressure 3'] = 1199

#relevant_ids['Mean Arterial Pressure 3'] = 6927  

#relevant_ids['Mean Arterial Pressure 4'] = 5680  



#relevant_ids['Mean Arterial Pressure 2'] = 438
#relevant_ids['Mean Arterial Pressure 3'] = 1321
#relevant_ids['Mean Arterial Pressure 4'] = 6399

In [10]:
h = items[items.apply(lambda r: r.str.contains('resp rate', case=False).any(), axis=1)].sort_values(by=['ITEMID'])
f = items[items.apply(lambda r: r.str.contains('respiratory', case=False).any(), axis=1)].sort_values(by=['ITEMID']) 
b = items[items.apply(lambda r: r.str.contains('RR', case=True).any(), axis=1)].sort_values(by=['ITEMID']) 
b

       ITEMID                 LABEL      ABBREVIATION    DBSOURCE  UNITNAME
1423      651       Spon RR (Mech.)               NaN     carevue       NaN
1989     1840      IRRIGATE PIGTAIL               NaN     carevue       NaN
3589     6106               High RR               NaN     carevue       NaN
3669     6196   IRRIG FOLEY 50ML NS               NaN     carevue       NaN
5090     6749              total RR               NaN     carevue       NaN
946      7884                    RR               NaN     carevue       NaN
6059    42209    IRRIGANT AND URINE               NaN     carevue       NaN
5451    42425   LT PLEURAL CT IRRIG               NaN     carevue       NaN
8429    42765      FARR 6 URINE OUT               NaN     carevue       NaN
8434    42840            FARR 5 OUT               NaN     carevue       NaN
6781    43048        IRRIGAGANT OUT               NaN     carevue       NaN
8472    43057          FARR 6 URINE               NaN     carevue       NaN
7578    43800  FARR 10 OUTPUT TOTAL               NaN     carevue       NaN
6848    44362        TPN CORRECTION               NaN     carevue       NaN
11524  220210      Respiratory Rate                RR  metavision  insp/min
10413  224422              Spont RR          Spont RR  metavision       bpm
11944  226774       RRApacheIIValue   RRApacheIIValue  metavision  insp/min
9411   227050           RR_ApacheIV       RR_ApacheIV  metavision  insp/min
9412   227051      RRScore_ApacheIV  RRScore_ApacheIV  metavision      None

In [9]:
relevant_ids['Respiratory Rate 0'] = 618
relevant_ids['Respiratory Rate 1'] = 619
relevant_ids['Respiratory Rate 3'] = 224689
relevant_ids['Respiratory Rate 4'] = 220210
relevant_ids['Respiratory Rate 2'] = 224688
#relevant_ids['Respiratory Rate 5'] = 3603
#relevant_ids['Respiratory Rate 6'] = 7884
#relevant_ids['Respiratory Rate 7'] = 227050
relevant_ids['Spont RR'] = 224422

relevant_ids['Respiratory Rate 5'] = 614
relevant_ids['Respiratory Rate 6'] = 615
#relevant_ids['Respiratory Rate 7'] = 1635
relevant_ids['Respiratory Rate 8'] = 224690
#relevant_ids['Respiratory Rate 9'] = 224745


#relevant_ids['Respiratory Rate 7'] = 1884

In [ ]:
items[items.apply(lambda r: r.str.contains('temp', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [10]:
relevant_ids['Temperature C'] = 676
relevant_ids['Temperature C 2'] = 223762
relevant_ids['Temperature F'] = 678
relevant_ids['Temperature F 2'] = 223761

In [ ]:
items[items.apply(lambda r: r.str.contains('GCS', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [11]:
relevant_ids['GCS'] = 198
relevant_ids['GCS 2'] = 226755

In [ ]:
#no sbp found
items[items.apply(lambda r: r.str.contains('sbp', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [ ]:
items[items.apply(lambda r: r.str.contains('spo2', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [13]:
relevant_ids['SpO2'] = 646
relevant_ids['SpO2 low'] = 5820
relevant_ids['SpO2'] = 8554

In [ ]:
items[items.apply(lambda r: r.str.contains('hematocrit', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [14]:
relevant_ids['Hematocrit'] = 813
relevant_ids['Hematocrit 2'] = 226540

In [ ]:
items[items.apply(lambda r: r.str.contains('wbc', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [15]:
relevant_ids['wbc 1'] = 1542
relevant_ids['wbc 2'] = 220546

In [ ]:
l = items[items.apply(lambda r: r.str.contains('glucose', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [16]:

relevant_ids['glucose'] = 1529
relevant_ids['serum glucose'] = 220621

In [ ]:
items[items.apply(lambda r: r.str.contains('bicarb', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [ ]:
#relevant_ids['Na bicarbonate'] = 4297
#relevant_ids['sodium bicarbonate'] = 5075
#relevant_ids['sodium bicarbonate2'] = 6299
#relevant_ids['Na bicarbonate'] = 3110
#relevant_ids['Na bicarbonate 1'] = 3109
#relevant_ids['Na bicarbonate 2'] = 3528
#relevant_ids['Na bicarbonate 3'] = 6146
#relevant_ids['Na bicarbonate'] = 30030
#relevant_ids['Na bicarbonate 2'] = 30338

In [ ]:
items[items.apply(lambda r: r.str.contains('potassium', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [17]:
relevant_ids['Potassium'] = 1535
relevant_ids['Potassium serum'] = 227442

In [ ]:
items[items.apply(lambda r: r.str.contains('sodium', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [18]:
relevant_ids['Sodium'] = 1536
relevant_ids['Sodium 2'] = 226534

In [ ]:
l = items[items.apply(lambda r: r.str.contains('bun', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

l

In [ ]:
relevant_ids['bun 1'] = 1162

relevant_ids['bun 3'] = 225624

In [ ]:
# nothing is found
items[items.apply(lambda r: r.str.contains('crea', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [ ]:
#no age is found
items[items.apply(lambda r: r.str.contains('age', case=False).any(), axis=1)].sort_values(by=['ITEMID']).tail(50)

In [ ]:
l = items[items.apply(lambda r: r.str.contains('Ventilator', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

l.tail(60)

In [19]:
#relevant_ids['Ventilator'] = 226260
#relevant_ids['Ventilator'] = 45822
relevant_ids['Ventilator 1'] = 227565
relevant_ids['Ventilator 2'] = 227566
relevant_ids['Ventilator 3'] = 5782
#relevant_ids['Ventilator 4'] = 7647
#relevant_ids['Ventilator 4'] = 6115
relevant_ids['Ventilator 4'] = 721
relevant_ids['crea 1'] = 791
relevant_ids['crea 2'] = 1525
relevant_ids['crea 3'] = 220615

In [ ]:
items[items.apply(lambda r: r.str.contains('vaso', case=False).any(), axis=1)].sort_values(by=['ITEMID']).tail(50)

In [ ]:
#relevant_ids['vasopressor'] = 1136
#relevant_ids['vasopressor 1'] = 1222
#relevant_ids['vasopressor 2'] = 1327
#relevant_ids['vasopressor 3'] = 2248
#relevant_ids['vasopressor 4'] = 2334
#relevant_ids['vasopressor 5'] = 2445
#relevant_ids['vasopressor 6'] = 2561
#relevant_ids['vasopressor 7'] = 2765
#relevant_ids['vasopressor 8'] = 6255
#relevant_ids['vasopressor 9'] = 30051
#relevant_ids['vasopressor'] = 7341

In [ ]:
items[items.apply(lambda r: r.str.contains('Systolic', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [20]:
relevant_ids['ABP mean'] = 220052
#relevant_ids['LEFT FEM ABP'] = 3042


#relevant_ids['Diastolic ABP 2'] = 8364

#relevant_ids['Systolic ABP 2'] = 6
#relevant_ids['RIGHT FEM ABP'] = 3043
relevant_ids['Diastolic ABP'] = 220051
relevant_ids['Diastolic ABP 2'] = 225310
relevant_ids['Systolic ABP 2'] = 225309
relevant_ids['Systolic ABP'] = 220050

In [ ]:
items[items.apply(lambda r: r.str.contains('weight', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [21]:
relevant_ids['Daily Weight'] = 580
relevant_ids['Daily Weight 2'] = 763
#relevant_ids['Present Weight (kg)'] = 3580
#relevant_ids['Present Weight (lb)'] = 3581
#relevant_ids['Weight Kg'] = 3693
relevant_ids['Weight Change'] = 733
relevant_ids['Admission Weight (Kg)'] = 226512
relevant_ids['Admission Weight (lbs.)'] = 226531
relevant_ids['Daily Weight'] = 224639

In [ ]:
items[items.apply(lambda r: r.str.contains('fio2', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [22]:
#relevant_ids['FiO2 1'] = 227009
#relevant_ids['FiO2 2'] = 226754
#relevant_ids['FiO2 1'] = 2981
#relevant_ids['FiO2 2'] = 3422
relevant_ids['FiO2 3'] = 223835
#relevant_ids['FiO2 4'] = 227010
relevant_ids['FIO2 Alarm-High'] = 185
relevant_ids['FIO2 Alarm-Low'] = 186
#relevant_ids['FiO2 1'] = 2981
#relevant_ids['FiO2 2'] = 3420
relevant_ids['FiO2 4'] = 191
relevant_ids['FiO2 1'] = 190
#relevant_ids['FiO2 2'] = 1040

In [ ]:
items[items.apply(lambda r: r.str.contains('height', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [23]:
relevant_ids['Height inch'] = 226707

relevant_ids['Height cm'] = 226730

In [ ]:
items[items.apply(lambda r: r.str.contains('glucose', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [24]:
relevant_ids['serum glucose'] = 220621

In [ ]:
items[items.apply(lambda r: r.str.contains('HCO3', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [ ]:
relevant_ids['serum HCO3'] = 227443

In [ ]:
items[items.apply(lambda r: r.str.contains('creatinine', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [25]:
relevant_ids['Creatinine 1'] = 1525
relevant_ids['Creatinine 2'] = 220615

In [ ]:
df = pd.DataFrame.from_dict(relevant_ids, orient='index')
df = df.reset_index().sort_values(by=['index'])
df.columns = ['MEASUREMENT', 'ITEMID']

In [ ]:
df1 = df.sort_index()
df1

In [ ]:
items[items.apply(lambda r: r.str.contains('blood', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [26]:
relevant_ids['Arterial Blood Pressure mean'] = 220052

In [ ]:
items[items.apply(lambda r: r.str.contains('spontaneous', case=False).any(), axis=1)].sort_values(by=['ITEMID'])

In [27]:
relevant_ids['spontaneous respiratory rate'] = 224689

In [28]:
df = pd.DataFrame.from_dict(relevant_ids, orient='index')
df = df.reset_index().sort_values(by=['index'])
df.columns = ['MEASUREMENT', 'ITEMID']

In [32]:
df1 = df.sort_index()
df1

                     MEASUREMENT  ITEMID
0                   Heart Rate 1     211
1                   Heart Rate 2  220045
2        Heart rate Alarm - High  220046
3         Heart Rate Alarm - Low  220047
4       Mean Arterial Pressure 1  224322
..                           ...     ...
57                     Height cm  226730
58                  Creatinine 1    1525
59                  Creatinine 2  220615
60  Arterial Blood Pressure mean  220052
61  spontaneous respiratory rate  224689

[62 rows x 2 columns]

In [30]:
df1.to_csv('/Volumes/Oussama/project/Data_comp/D_CHARTITEMS.csv', sep=',', encoding='utf-8', index=False)

In [31]:
j = ['FiO2 3', 'Heart Rate 2', 'Respiratory Rate 4', 'Temperature F 2',
       'Respiratory Rate 8', 'Respiratory Rate 2', 'Respiratory Rate 3',
       'spontaneous respiratory rate', 'Admission Weight (Kg)',
       'Admission Weight (lbs.)', 'Heart rate Alarm - High',
       'Heart Rate Alarm - Low', 'Systolic ABP', 'Diastolic ABP',
       'ABP mean', 'Arterial Blood Pressure mean', 'wbc 2', 'crea 3',
       'Creatinine 2', 'serum glucose', 'Potassium serum', 'Height inch',
       'Height cm', 'Daily Weight', 'Ventilator 1', 'Ventilator 2',
       'Spont RR', 'Sodium 2', 'Systolic ABP 2', 'Diastolic ABP 2',
       'Temperature C 2', 'Hematocrit 2', 'Mean Arterial Pressure 1',
       'Heart Rate 1', 'FiO2 1', 'GCS', 'Respiratory Rate 0',
       'Temperature F', 'Temperature C', 'crea 1', 'Hematocrit', 'crea 2',
       'Creatinine 1', 'glucose', 'Potassium', 'Sodium', 'wbc 1',
       'Respiratory Rate 5', 'Respiratory Rate 6', 'Respiratory Rate 1',
       'Daily Weight 2', 'Ventilator 4', 'Weight Change',
       'FIO2 Alarm-High', 'FIO2 Alarm-Low', 'Mean Arterial Pressure 2',
       'Ventilator 3', 'FiO2 4', 'SpO2 low', 'SpO2']
h = list(df1['MEASUREMENT'])
k=[]
for i in h:
    if i not in j:
        k.append(i)
        



k

['Mean Arterial Pressure 3', 'GCS 2']

In [ ]:
len(k)

In [ ]:
h